// Global styles and change variables values

// Import Fonts (Latos and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

// Colors
$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0, 100, 80);

$light: #f8f8f8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;

$link: $light-green;

// Update some of bulma's component variables
$control-border-width: 2px;
$input-bordercolor: transparent;
$input-shadow: none;

// Set custom global styles (will be applied to whole app)
html{
  background:  linear-gradient(to right top, $turquoise, $green);
}

html, body{
  height: 100%;
}
