<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-light">
      <h1 class="title has-text-primary">
        Lists
      </h1>

      <div class="list-menu">
        <a  class="list-menu-item is-active">
          <p>List #1</p>
        </a>
        <a  class="list-menu-item">
          <p>List #1</p>
        </a>
        <a  class="list-menu-item">
          <p>List #1</p>
        </a>
      </div>

      <button class="button is-primary has-text-white">+ New List</button>
    </div>

    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>

      <!-- Task elements -->
      <div class="task">
        <p>This is somthing i have to do</p>
      </div>
      <div class="task">
        <p>This is somthing i have to do</p>
      </div>
      <div class="task complete">
        <p>This is somthing i have to do</p>
      </div>
    </div>

  </div>
</div>
